html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: "Coda", cursive;
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 85%;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 3.7rem;
    width: 3.7rem;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    pointer-events: none;
    background: #02ccba;
    font-size: 33px;
}

.deck .card.unmatch {
    background: #e44602;
}

.avoid-clicks {
    pointer-events: none;
}

#minutes {
  margin-left: 10%;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
    font-family: "Open Sans", sans-serif;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style-type: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    text-align: center;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    color: white;
    font-size: 30px;
}

/* Modal body */
.modal-body {
    padding: 2px 16px;
    font-size: 20px;
    font-weight: 200;
}

.modal-body li {
    list-style-type: none;
    display: inline-block;
    color: #ffb500;
    font-size: 34px;
    margin-bottom: 20px;
}

#rating {
    margin-bottom: 0px;
    font-size: 34px;
}

/* Modal footer */
button.restart {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    padding: 10px 30px;
    margin: 20px 0 20px 0;
    background-color: white;
    font-size: 15px;
    border-radius: 12px;
    border: 2px solid #ffb500;
}

button:hover.restart {
    background-color: #ffb500;
    color: white;
    border-color: #fff;
    cursor: pointer;
}

.modal-footer {
    padding: 2px 16px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    color: #fff;
}

/* Media queries */
@media (max-width: 320px) {
	.deck {
		width: 85%;
	}

	.deck .card {
    height: 4.7rem;
		width: 4.7rem;
	}
}


/* For Tablets and larger screens */

@media (min-width: 768px) {
	.container {
	}

	.deck {
		width: 660px;
		height: 680px;
	}

	.deck .card {
    height: 125px;
		width: 125px;
	}
}
